body{
font-family: Arial, sans-serif;
margin:0;
background:#f4f6f8;
}

header{
background:#0a3a5f;
color:white;
text-align:center;
padding:30px;
}

.container{
max-width:900px;
margin:auto;
background:white;
padding:40px;
}

h2{
color:#0a3a5f;
margin-top:40px;
}

label{
display:block;
margin-top:10px;
}

input, textarea, select{
width:100%;
padding:8px;
margin-top:5px;
}

button{
margin-top:30px;
padding:15px;
background:#0a3a5f;
color:white;
border:none;
cursor:pointer;
}

.warning{
margin-top:15px;
color:red;
font-weight:bold;
}

footer{
text-align:center;
padding:20px;
color:#666;
}
